<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>功能列表</title>
</head>
<body>
  <h1>功能列表</h1>
  <%= link_to '書店', stores_path %>
  <%= link_to '書單', books_path %>
  <%= link_to '作者', authors_path %>
</body>
</html>